<form method="post">
  <label for="date">Date</label>
  <input name="date">
  <label for="weight">Weight</label>
  <input name="weight"
         placeholder="Enter weight">
  <button type="submit">Submit</button>
</form>